@import 'variables'; // (écrasez dans _site-variables si besoin)


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1.2em;
}

body {
	font-family: var(--font-family-base);
}

/// helpers
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	color: var(--primary-color);
}

hr {
	border: none;
	height: 1px;
	background-color: var(--secondary-color);
	opacity: 0.3;
	margin: 1.5rem 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	display: block;
	margin: 0 auto;
	padding: 0 2em;
}

.maintenance-page {
	opacity: 0;
	margin: 0;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: var(--font-family-base);

	@media screen and (min-width: $bp-md) {
		overflow: hidden;
	}

	.maintenance-page--wrapper {
		display: flex;

		>* {
			width: 100%;
		}

		.background {
			position: relative;
			display: none;
			height: auto;
			background-color: #dcdcdc;

			@media screen and (max-width: $bp-md) {
				height: 40vh;
				max-height: 500px;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.content {
			display: flex;
			text-align: center;
			flex-grow: 1;
			opacity: 0;
			transform: translateY(50px);
			transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
			overflow: auto;

			min-height: 100vh;

			.content--wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 5em 0;
				min-height: 100%;

				#logo {
					display: block;
					margin: 0 auto;
					max-width: 80%;
					max-height: 300px;
					object-fit: contain;
				}

				>*:not(:last-child) {
					margin-bottom: 1.5rem;
				}

				#slogan {
					font-size: clamp(28px, 5vw, 35px);
					max-width: 550px;
					text-align: center;
					font-weight: 300;
				}
			}

			.contacts>* {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				gap: 0.3em;

				&:not(:last-child) {
					margin-bottom: 0.5em;
				}
			}
		}
	}

	&:not(.has-image) .content--wrapper {
		min-height: 100vh;
	}

	&.has-image {
		@media screen and (max-width: $bp-md) {
			.maintenance-page--wrapper {
				flex-direction: column;
			}
		}
	}

	&.loaded {
		opacity: 1;

		.maintenance-page--wrapper .content {
			opacity: 1;
			transform: translateY(0);
		}
	}
}